body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.containerRegister {
    padding: 20px 25px;
    width: 340px;
    height: fit-content;
    /* position: absolute; */
    /* margin-top: 100px; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.containerRegister h2 {
    color: white;
}

.containerRegister h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 4px solid blue;
}

.containerRegister label {
    text-align: left;
    color: white;
}

.containerRegister form input {
    color: white;
    width: 100%;
    /* border: 1px solid white; */
    margin-bottom: 15px;
    /* border-bottom: 2px solid blue; */
    background-color: transparent;
    font-size: 20px;
}

.containerRegister button {
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: red;
}

.containerRegister button:hover {
    color: black;
}

@media (min-width: 992px) { 
    .containerRegister{
        display: flex !important;
        align-items: flex-end !important;
        justify-content: flex-end !important;
        text-align: start;
    }

    .carousel{
        text-align: start !important;
    }
}